
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.scroller {
  height: 400px;
  width: 1200px;
  border:2px solid #000;
  overflow: scroll;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}